<!DOCTYPE html>
<html lang="en">
   <head>
      <title>MusiDoodle</title>
      <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Tailwind -->
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" 
         rel="stylesheet">
      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
   </head> 
   <body class="bg-gray-800">

  <style>
    .form.htmx-request{
      opacity: .5;
      transition: opacity 300ms linear;
    }

    .button:active{
      transform: translateY(2px);
    }
    </style>

    {{if .Success}}
    
    <hr>
      <h1 class="my-8 text-4xl tracking-tight font-extrabold text-center text-purple-200"> Message Sent! </h1>    
    <hr>
    
    {{else}}
    
    <div hx-boost="true">
    
      {{template "navbar" .}}
    
    </div>
    
    <section>  
         <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-center text-purple-400">Contact</h2>
      
            <p class="mb-10 mt-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-200 sm:text-xl">Found a bug? Got a suggestion? Let me know!</p>

          <input name="honeypot" type="text" value="" style="visibility: hidden;"/>
           
        <form action="#" class="space-y-8 -mt-12" hx-post="/submit-contact" hx-trigger="submit" hx-swap="outerHTML">
               <div>
                  <label for="email" class="block mb-2 text-sm font-medium text-purple-400">Your Email</label>
                  <input 
                     type="email" 
                     name="email"
                     id="email" 
                     class="shadow-lg text-sm rounded-lg block w-full p-3 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-purple-400 focus:border-purple-400 shadow-sm-light" 
                     placeholder="name@musidoodle.com" 
                     required
                  >
               </div>
               <div>
                  <label for="subject" class="block mb-2 text-sm font-medium text-purple-400">Subject</label>
                  <input 
                     type="text" 
                     id="subject"
                     name="subject"
                     class="shadow-lg text-sm rounded-lg block w-full p-3 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-purple-400 focus:border-purple-400 shadow-sm-light" 
                     placeholder="I found a bug!" 
                     required
                  >
               </div>
               <div class="sm:col-span-2">
                  <label for="message" class="block mb-2 text-sm font-medium text-purple-400">Your Message</label>
                  <textarea 
                     id="message"
                     name="message"
                     rows="6" 
                     class="shadow-lg text-sm rounded-lg block w-full p-3 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500 shadow-sm-light" 
                     placeholder="Leave a message..."
                     required
                  ></textarea>
               </div>

          <div>
               <button 
                  type="submit" 
                  class="button shadow-lg text-l text-white bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2 text-center"
                  style="transform: transformY(-10px);"     
          >Submit Message</button>
            </form>
         </div>
      </section>
      
      {{end}}
      
   </body>
</html>


