<!DOCTYPE html>
<html lang="en">
   <head>
      <title>MusiDoodle</title>
      <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Tailwind -->
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" 
         rel="stylesheet">
      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
   </head>
   <body class="bg-gray-800">

    <div hx-boost="true">
      {{template "navbar" .}}
    </div>

    <div class="pb-4"></div> 
    {{template "version" .}}
   

    <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
      While in Alpha / Beta, the binary can only be found on Github.
      <br><br>
      <a class="text-purple-400" href="https://github.com/JJB9922/MusiDoodle/releases/tag/Alpha">Click here to check out the release page.</a>
    </p>
   
  </body>
</html>


