<!DOCTYPE html>
<html lang="en">
   <head>
      <title>MusiDoodle</title>
      <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Tailwind -->
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" 
         rel="stylesheet">
      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
   </head>
   <body class="bg-gray-900">
     
    <div hx-boost="true">
      {{template "navbar" .}}
    </div>

    <img src="../assets/herobanner.png"/>

      <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
         A digital notebook for musicians wanting to spend more time 
         <span class="text-purple-400">playing</span> than notating.
      </p>
      
      <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
        Rapid protoyping of 
      <span class="text-purple-400">lyrics</span>,
      <span class="text-purple-400">chords</span>,
      <span class="text-purple-400">comments</span>,
      <span class="text-purple-400">tabs</span>, and
      <span class="text-purple-400">sheet music</span>.
      </p> 

      <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
        Utilising a simple click, drag, and drop interface. 
   </body>
</html>
