<!DOCTYPE html>
<html lang="en">
   <head>
      <title>MusiDoodle</title>
      <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Tailwind -->
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" 
         rel="stylesheet">
      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
   </head> 
   <body class="bg-gray-800">

    <div hx-boost="true">
      {{template "navbar" .}}
    </div>

    <div class="pb-4"></div> 
    {{template "version" .}}
          
      <h1 class="text-3xl text-purple-400 text-center mx-8 my-8"> Tech Stack </h1>
       <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
        MusiDoodle is written in 
         <span class="text-purple-400">C++</span>, utilising the Qt GUI
      library.
      </p>

    <h1 class="text-3xl text-purple-400 text-center mx-8 my-8"> Source Code </h1>
     <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
         The source code for MusiDoodle can be found in its entirety at 
      <a href="https://www.github.com/JJB9922/MusiDoodle"
         class="text-purple-400">My Github</a>.
      </p>

    
    <h1 class="text-3xl text-purple-400 text-center mx-8 my-8"> Known Bugs </h1>
    <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
      Nothing yet! </p>

    <h1 class="text-3xl text-purple-400 text-center mx-8 my-8"> Contributions </h1>
    <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8" hx-boost="true">
      If you have suggestions for adding or removing features, feel free to use
      the
      <a href="/contact" class="text-purple-400"> contact form</a>. Alternatively,
      head to the 
      <a href="https://www.github.com/JJB9922/MusiDoodle" class="text-purple-400">
        GitHub </a>and directly make a pull request for each individual
      suggestion.
    </p>
   </body>
</html>


