<!DOCTYPE html>
<html lang="en">
   <head>
      <title>MusiDoodle</title>
      <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Tailwind -->
      <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" 
         rel="stylesheet">
      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
   </head> 
   <body class="bg-gray-800">

    <div hx-boost="true">
      {{template "navbar" .}}
    </div>

    <div class="pb-4"></div> 
    {{template "version" .}}
      
    <h1 class="text-2xl text-purple-400 text-center mx-8 my-8"> v0.0.2 </h1>
    <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
      Minimum barely-viable product. Still at a point where you might as well use notepad.
  
      <br><br>

        - Picking a chord now creates a drag-and-drop box that can be moved around.<br>
        - The colour pallette for all windows is now completely different.<br>
        - Technical: Gtest has been added, it runs on basic stuff but I haven't got it doing stuff with Qt Widgets yet.

      <br><br>

      v0.0.3 will exist when the drag and drop is fully functional, in that users will be able to create a chord component and use it as intended.
      At this point, bar save/load, it will be a usable & functional notebook for simple Chord/Lyric songs.
      
   </p>
   </body>

    <h1 class="text-2xl text-purple-400 text-center mx-8 my-8"> v0.0.1 </h1>
    <p class="text-xl text-white text-center drop-shadow-lg mx-8 my-8">
      v0.0.1 is the first version of MusiDoodle. It is a prototype, and is not intended for use in production.
      It is possible to put something together in it, but it is not recommended to use it for anything important.
      You cannot save or load tracks. You cannot export tracks. You cannot share tracks. You cannot collaborate on tracks.
      You cannot even change the name of a track. You can only create a track, and then edit it. You could take a screenshot.
      At the moment, it is probably about as useful as a piece of paper and a pencil. But it is a start.

      <br><br>

      Although, it does show you some chords, and allows you to pick them out.
      However, there is no hand-holding or interactive music theory functionality yet.

      <br><br>

      I will not make an executable for v0.0.1, if you have found this post somehow, you can go to the GitHub repository and build it yourself.

      <br><br>

      0.1.0 (beta) will exist when I can save and load tracks. 
   </p>
   </body>
</html>


